<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Text</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{11,15,9,9}</string>
			<key>Right</key>
			<string>{11,11,9,15}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#000000</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>14</integer>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>Audio</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{8,13,9,12}</string>
			<key>Right</key>
			<string>{8,12,9,14}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#000000</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>14</integer>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>Video</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{3,8,3,3}</string>
			<key>Right</key>
			<string>{3,3,3,8}</string>
		</dict>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>File</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{3,8,3,3}</string>
			<key>Right</key>
			<string>{3,3,3,8}</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>14</integer>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>Image</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{3,8,3,3}</string>
			<key>Right</key>
			<string>{3,3,3,8}</string>
		</dict>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>Location</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{3,8,3,3}</string>
			<key>Right</key>
			<string>{3,3,3,8}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#FFFFFF</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>12</integer>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>Tip</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{0,0,0,0}</string>
			<key>Right</key>
			<string>{0,0,0,0}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#FFFFFF</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>10</integer>
		<key>Show_Avatar</key>
		<false/>
		<key>Bubble</key>
		<dict>
			<key>Left</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
			</dict>
			<key>Right</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Unsupport</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{11,15,9,9}</string>
			<key>Right</key>
			<string>{11,11,9,15}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#000000</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>14</integer>
		<key>Show_Avatar</key>
		<true/>
	</dict>
	<key>Team_Notification</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{0,0,0,0}</string>
			<key>Right</key>
			<string>{0,0,0,0}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#FFFFFF</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>10</integer>
		<key>Show_Avatar</key>
		<false/>
		<key>Bubble</key>
		<dict>
			<key>Left</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
			</dict>
			<key>Right</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Chatroom_Notification</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{0,0,0,0}</string>
			<key>Right</key>
			<string>{0,0,0,0}</string>
		</dict>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#FFFFFF</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>10</integer>
		<key>Show_Avatar</key>
		<false/>
		<key>Bubble</key>
		<dict>
			<key>Left</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
			</dict>
			<key>Right</key>
			<dict>
				<key>Normal</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
				<key>Highlighted</key>
				<dict>
					<key>Name</key>
					<string>icon_session_time_bg</string>
					<key>Insets</key>
					<string>{8,20,8,20}</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Netcall_Notification</key>
	<dict>
		<key>Content_Insets</key>
		<dict>
			<key>Left</key>
			<string>{11,15,9,9}</string>
			<key>Right</key>
			<string>{11,11,9,15}</string>
		</dict>
		<key>Show_Avatar</key>
		<true/>
		<key>Content_Color</key>
		<dict>
			<key>Left</key>
			<string>#000000</string>
			<key>Right</key>
			<string>#FFFFFF</string>
		</dict>
		<key>Content_Font_Size</key>
		<integer>14</integer>
	</dict>
</dict>
</plist>
