<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NIMKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NIMKitBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61344C101B720CB2005A96AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61344C1B1B720CB2005A96AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61437FD81B775F7900B6C2D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6187F8951B818EA600EFFB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6187F91E1B818ED800EFFB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6187F9281B818ED800EFFB3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A5ED1B7724C3001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A60A1B7724FE001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6271B77252A001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6481B772539001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6521B772539001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6A51B77471A001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6CB1B774E62001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6DA1B775303001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6198A6E81B775924001757B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
