<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>若不允许，你将无法拍摄照片</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>若不允许，则无法使用麦克风功能</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>若不允许，则无法使用相册功能</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>若不允许，你将无法导入照片</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
