<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>file</key>
				<string>emoji_01.png</string>
				<key>id</key>
				<string>emoticon_emoji_01</string>
				<key>tag</key>
				<string>[可爱]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_00.png</string>
				<key>id</key>
				<string>emoticon_emoji_0</string>
				<key>tag</key>
				<string>[大笑]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_02.png</string>
				<key>id</key>
				<string>emoticon_emoji_02</string>
				<key>tag</key>
				<string>[色]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_03.png</string>
				<key>id</key>
				<string>emoticon_emoji_03</string>
				<key>tag</key>
				<string>[嘘]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_04.png</string>
				<key>id</key>
				<string>emoticon_emoji_04</string>
				<key>tag</key>
				<string>[亲]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_05.png</string>
				<key>id</key>
				<string>emoticon_emoji_05</string>
				<key>tag</key>
				<string>[呆]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_06.png</string>
				<key>id</key>
				<string>emoticon_emoji_06</string>
				<key>tag</key>
				<string>[口水]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_145.png</string>
				<key>id</key>
				<string>emoticon_emoji_145</string>
				<key>tag</key>
				<string>[汗]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_07.png</string>
				<key>id</key>
				<string>emoticon_emoji_07</string>
				<key>tag</key>
				<string>[呲牙]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_08.png</string>
				<key>id</key>
				<string>emoticon_emoji_08</string>
				<key>tag</key>
				<string>[鬼脸]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_09.png</string>
				<key>id</key>
				<string>emoticon_emoji_09</string>
				<key>tag</key>
				<string>[害羞]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_10.png</string>
				<key>id</key>
				<string>emoticon_emoji_10</string>
				<key>tag</key>
				<string>[偷笑]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_11.png</string>
				<key>id</key>
				<string>emoticon_emoji_11</string>
				<key>tag</key>
				<string>[调皮]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_12.png</string>
				<key>id</key>
				<string>emoticon_emoji_12</string>
				<key>tag</key>
				<string>[可怜]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_13.png</string>
				<key>id</key>
				<string>emoticon_emoji_13</string>
				<key>tag</key>
				<string>[敲]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_14.png</string>
				<key>id</key>
				<string>emoticon_emoji_14</string>
				<key>tag</key>
				<string>[惊讶]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_15.png</string>
				<key>id</key>
				<string>emoticon_emoji_15</string>
				<key>tag</key>
				<string>[流感]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_16.png</string>
				<key>id</key>
				<string>emoticon_emoji_16</string>
				<key>tag</key>
				<string>[委屈]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_17.png</string>
				<key>id</key>
				<string>emoticon_emoji_17</string>
				<key>tag</key>
				<string>[流泪]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_18.png</string>
				<key>id</key>
				<string>emoticon_emoji_18</string>
				<key>tag</key>
				<string>[嚎哭]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_19.png</string>
				<key>id</key>
				<string>emoticon_emoji_19</string>
				<key>tag</key>
				<string>[惊恐]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_20.png</string>
				<key>id</key>
				<string>emoticon_emoji_20</string>
				<key>tag</key>
				<string>[怒]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_21.png</string>
				<key>id</key>
				<string>emoticon_emoji_21</string>
				<key>tag</key>
				<string>[酷]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_22.png</string>
				<key>id</key>
				<string>emoticon_emoji_22</string>
				<key>tag</key>
				<string>[不说]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_23.png</string>
				<key>id</key>
				<string>emoticon_emoji_23</string>
				<key>tag</key>
				<string>[鄙视]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_24.png</string>
				<key>id</key>
				<string>emoticon_emoji_24</string>
				<key>tag</key>
				<string>[阿弥陀佛]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_25.png</string>
				<key>id</key>
				<string>emoticon_emoji_25</string>
				<key>tag</key>
				<string>[奸笑]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_26.png</string>
				<key>id</key>
				<string>emoticon_emoji_26</string>
				<key>tag</key>
				<string>[睡着]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_27.png</string>
				<key>id</key>
				<string>emoticon_emoji_27</string>
				<key>tag</key>
				<string>[口罩]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_28.png</string>
				<key>id</key>
				<string>emoticon_emoji_28</string>
				<key>tag</key>
				<string>[努力]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_29.png</string>
				<key>id</key>
				<string>emoticon_emoji_29</string>
				<key>tag</key>
				<string>[抠鼻孔]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_30.png</string>
				<key>id</key>
				<string>emoticon_emoji_30</string>
				<key>tag</key>
				<string>[疑问]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_31.png</string>
				<key>id</key>
				<string>emoticon_emoji_31</string>
				<key>tag</key>
				<string>[怒骂]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_32.png</string>
				<key>id</key>
				<string>emoticon_emoji_32</string>
				<key>tag</key>
				<string>[晕]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_33.png</string>
				<key>id</key>
				<string>emoticon_emoji_33</string>
				<key>tag</key>
				<string>[呕吐]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_160.png</string>
				<key>id</key>
				<string>emoticon_emoji_160</string>
				<key>tag</key>
				<string>[拜一拜]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_161.png</string>
				<key>id</key>
				<string>emoticon_emoji_161</string>
				<key>tag</key>
				<string>[惊喜]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_162.png</string>
				<key>id</key>
				<string>emoticon_emoji_162</string>
				<key>tag</key>
				<string>[流汗]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_163.png</string>
				<key>id</key>
				<string>emoticon_emoji_163</string>
				<key>tag</key>
				<string>[卖萌]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_164.png</string>
				<key>id</key>
				<string>emoticon_emoji_164</string>
				<key>tag</key>
				<string>[默契眨眼]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_165.png</string>
				<key>id</key>
				<string>emoticon_emoji_165</string>
				<key>tag</key>
				<string>[烧香拜佛]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_166.png</string>
				<key>id</key>
				<string>emoticon_emoji_166</string>
				<key>tag</key>
				<string>[晚安]</string>
			</dict>
			<dict>
				<key>file</key>
				<string>emoji_200.png</string>
				<key>id</key>
				<string>emoticon_emoji_200</string>
				<key>tag</key>
				<string>[握手]</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_34</string>
				<key>tag</key>
				<string>[强]</string>
				<key>unicode</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_35</string>
				<key>tag</key>
				<string>[弱]</string>
				<key>unicode</key>
				<string>👎</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_36</string>
				<key>tag</key>
				<string>[OK]</string>
				<key>unicode</key>
				<string>👌</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_37</string>
				<key>tag</key>
				<string>[拳头]</string>
				<key>unicode</key>
				<string>✊</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_38</string>
				<key>tag</key>
				<string>[胜利]</string>
				<key>unicode</key>
				<string>✌️</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_39</string>
				<key>tag</key>
				<string>[鼓掌]</string>
				<key>unicode</key>
				<string>👏</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_40</string>
				<key>tag</key>
				<string>[发怒]</string>
				<key>unicode</key>
				<string>😈</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_41</string>
				<key>tag</key>
				<string>[骷髅]</string>
				<key>unicode</key>
				<string>💀</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_42</string>
				<key>tag</key>
				<string>[便便]</string>
				<key>unicode</key>
				<string>💩</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_43</string>
				<key>tag</key>
				<string>[火]</string>
				<key>unicode</key>
				<string>🔥</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_44</string>
				<key>tag</key>
				<string>[溜]</string>
				<key>unicode</key>
				<string>💨</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_45</string>
				<key>tag</key>
				<string>[爱心]</string>
				<key>unicode</key>
				<string>❤</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_46</string>
				<key>tag</key>
				<string>[心碎]</string>
				<key>unicode</key>
				<string>💔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_47</string>
				<key>tag</key>
				<string>[钟情]</string>
				<key>unicode</key>
				<string>💘</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_48</string>
				<key>tag</key>
				<string>[唇]</string>
				<key>unicode</key>
				<string>💋</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_49</string>
				<key>tag</key>
				<string>[戒指]</string>
				<key>unicode</key>
				<string>💍</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_50</string>
				<key>tag</key>
				<string>[钻石]</string>
				<key>unicode</key>
				<string>💠</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_51</string>
				<key>tag</key>
				<string>[太阳]</string>
				<key>unicode</key>
				<string>☀</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_52</string>
				<key>tag</key>
				<string>[有时晴]</string>
				<key>unicode</key>
				<string>⛅</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_53</string>
				<key>tag</key>
				<string>[多云]</string>
				<key>unicode</key>
				<string>☁</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_54</string>
				<key>tag</key>
				<string>[雷]</string>
				<key>unicode</key>
				<string>⚡</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_55</string>
				<key>tag</key>
				<string>[雨]</string>
				<key>unicode</key>
				<string>☔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_56</string>
				<key>tag</key>
				<string>[雪花]</string>
				<key>unicode</key>
				<string>❄</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_57</string>
				<key>tag</key>
				<string>[爱人]</string>
				<key>unicode</key>
				<string>💑</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_58</string>
				<key>tag</key>
				<string>[帽子]</string>
				<key>unicode</key>
				<string>🎩</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_59</string>
				<key>tag</key>
				<string>[皇冠]</string>
				<key>unicode</key>
				<string>👑</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_60</string>
				<key>tag</key>
				<string>[篮球]</string>
				<key>unicode</key>
				<string>🏀</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_61</string>
				<key>tag</key>
				<string>[足球]</string>
				<key>unicode</key>
				<string>⚽</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_62</string>
				<key>tag</key>
				<string>[垒球]</string>
				<key>unicode</key>
				<string>⚾</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_63</string>
				<key>tag</key>
				<string>[网球]</string>
				<key>unicode</key>
				<string>🎾</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_64</string>
				<key>tag</key>
				<string>[台球]</string>
				<key>unicode</key>
				<string>🎱</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_65</string>
				<key>tag</key>
				<string>[咖啡]</string>
				<key>unicode</key>
				<string>☕</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_66</string>
				<key>tag</key>
				<string>[啤酒]</string>
				<key>unicode</key>
				<string>🍺</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_67</string>
				<key>tag</key>
				<string>[干杯]</string>
				<key>unicode</key>
				<string>🍻</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_68</string>
				<key>tag</key>
				<string>[柠檬汁]</string>
				<key>unicode</key>
				<string>🍹</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_69</string>
				<key>tag</key>
				<string>[餐具]</string>
				<key>unicode</key>
				<string>🍴</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_70</string>
				<key>tag</key>
				<string>[汉堡]</string>
				<key>unicode</key>
				<string>🍔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_71</string>
				<key>tag</key>
				<string>[鸡腿]</string>
				<key>unicode</key>
				<string>🍗</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_72</string>
				<key>tag</key>
				<string>[面条]</string>
				<key>unicode</key>
				<string>🍜</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_73</string>
				<key>tag</key>
				<string>[冰淇淋]</string>
				<key>unicode</key>
				<string>🍦</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_74</string>
				<key>tag</key>
				<string>[沙冰]</string>
				<key>unicode</key>
				<string>🍨</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_75</string>
				<key>tag</key>
				<string>[生日蛋糕]</string>
				<key>unicode</key>
				<string>🎂</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_76</string>
				<key>tag</key>
				<string>[蛋糕]</string>
				<key>unicode</key>
				<string>🍰</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_77</string>
				<key>tag</key>
				<string>[糖果]</string>
				<key>unicode</key>
				<string>🍭</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_78</string>
				<key>tag</key>
				<string>[葡萄]</string>
				<key>unicode</key>
				<string>🍇</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_79</string>
				<key>tag</key>
				<string>[西瓜]</string>
				<key>unicode</key>
				<string>🍉</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_80</string>
				<key>tag</key>
				<string>[光碟]</string>
				<key>unicode</key>
				<string>📀</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_81</string>
				<key>tag</key>
				<string>[手机]</string>
				<key>unicode</key>
				<string>📱</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_82</string>
				<key>tag</key>
				<string>[电话]</string>
				<key>unicode</key>
				<string>📞</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_83</string>
				<key>tag</key>
				<string>[电视]</string>
				<key>unicode</key>
				<string>📺</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_84</string>
				<key>tag</key>
				<string>[声音开启]</string>
				<key>unicode</key>
				<string>🔊</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_85</string>
				<key>tag</key>
				<string>[声音关闭]</string>
				<key>unicode</key>
				<string>🔇</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_86</string>
				<key>tag</key>
				<string>[铃铛]</string>
				<key>unicode</key>
				<string>🔔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_87</string>
				<key>tag</key>
				<string>[锁头]</string>
				<key>unicode</key>
				<string>🔒</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_88</string>
				<key>tag</key>
				<string>[放大镜]</string>
				<key>unicode</key>
				<string>🔎</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_89</string>
				<key>tag</key>
				<string>[灯泡]</string>
				<key>unicode</key>
				<string>💡</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_90</string>
				<key>tag</key>
				<string>[锤头]</string>
				<key>unicode</key>
				<string>🔨</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_91</string>
				<key>tag</key>
				<string>[烟]</string>
				<key>unicode</key>
				<string>🚬</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_92</string>
				<key>tag</key>
				<string>[炸弹]</string>
				<key>unicode</key>
				<string>💣</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_93</string>
				<key>tag</key>
				<string>[枪]</string>
				<key>unicode</key>
				<string>🔫</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_94</string>
				<key>tag</key>
				<string>[刀]</string>
				<key>unicode</key>
				<string>🔪</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_95</string>
				<key>tag</key>
				<string>[药]</string>
				<key>unicode</key>
				<string>💊</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_96</string>
				<key>tag</key>
				<string>[打针]</string>
				<key>unicode</key>
				<string>💉</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_97</string>
				<key>tag</key>
				<string>[钱袋]</string>
				<key>unicode</key>
				<string>💰</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_98</string>
				<key>tag</key>
				<string>[钞票]</string>
				<key>unicode</key>
				<string>💵</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_99</string>
				<key>tag</key>
				<string>[银行卡]</string>
				<key>unicode</key>
				<string>💳</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_101</string>
				<key>tag</key>
				<string>[麻将]</string>
				<key>unicode</key>
				<string>🀄</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_102</string>
				<key>tag</key>
				<string>[调色板]</string>
				<key>unicode</key>
				<string>🎨</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_103</string>
				<key>tag</key>
				<string>[电影]</string>
				<key>unicode</key>
				<string>🎬</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_104</string>
				<key>tag</key>
				<string>[麦克风]</string>
				<key>unicode</key>
				<string>🎤</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_105</string>
				<key>tag</key>
				<string>[耳机]</string>
				<key>unicode</key>
				<string>🎧</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_106</string>
				<key>tag</key>
				<string>[音乐]</string>
				<key>unicode</key>
				<string>🎵</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_107</string>
				<key>tag</key>
				<string>[吉他]</string>
				<key>unicode</key>
				<string>🎸</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_108</string>
				<key>tag</key>
				<string>[火箭]</string>
				<key>unicode</key>
				<string>🚀</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_109</string>
				<key>tag</key>
				<string>[飞机]</string>
				<key>unicode</key>
				<string>✈️</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_110</string>
				<key>tag</key>
				<string>[火车]</string>
				<key>unicode</key>
				<string>🚆</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_111</string>
				<key>tag</key>
				<string>[公交]</string>
				<key>unicode</key>
				<string>🚌</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_112</string>
				<key>tag</key>
				<string>[轿车]</string>
				<key>unicode</key>
				<string>🚗</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_113</string>
				<key>tag</key>
				<string>[出租车]</string>
				<key>unicode</key>
				<string>🚕</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_114</string>
				<key>tag</key>
				<string>[警车]</string>
				<key>unicode</key>
				<string>🚓</string>
			</dict>
			<dict>
				<key>id</key>
				<string>emoticon_emoji_115</string>
				<key>tag</key>
				<string>[自行车]</string>
				<key>unicode</key>
				<string>🚲</string>
			</dict>
		</array>
		<key>info</key>
		<dict>
			<key>id</key>
			<string>default</string>
			<key>normal</key>
			<string>emoj_s_normal.png</string>
			<key>pressed</key>
			<string>emoj_s_pressed.png</string>
			<key>title</key>
			<string>emoji</string>
		</dict>
	</dict>
</array>
</plist>
